*{
    padding: 0px;
    margin: 0px;
}
.all{
    background-color: rgba(0, 0, 0, 0.479);
}
.bg-trans {
    background-color: transparent !important;
}
.text-40{
    font-size: 25px !important;
}
.text-gray{
    color: gray !important;
}
s{
    color: red;
    text-decoration: none;
}
#navbarNavDropdown{
justify-content: center !important;
} 
.float-left{
    left: 0%;
}
.disp-flex{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}

.section1{
  /* background-color: rgba(0, 0, 0, 30%); */
    width: 100%;
    height: 100vh;
    background-image: url(../images/back1.jpg)!important;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat !important;
    background-size: 100% 100% ;

    /*
    position: sticky !important; */
    background-color: rgba(0, 0, 0, 0.852) !important;
    position: relative ;
    background-attachment: fixed;
}

/* .section1 .bg{
    width: 100%;
    height: 100vh;
    

} */
.section1 .bg img{
    
    width: 100%;
    height: 100%;
}
.section1 .button{
    color: white;
    background-color: orangered;
    border-radius: 30px;
    padding: 7px;
    width: 140px;
}
a{
    text-decoration: none;
}
.section1 .button a{
text-decoration: none;
color: white;
}
.kalam{
    width: 50%;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    margin: auto;
    left: 26%;
    bottom: 35%;
    /* font-weight: bold; */
    padding: 20px;
}
.kalam h1{
    font-size: 65px;
}
.kalam .under{
    text-decoration: underline orangered;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.kalam button{
    border: none;
    padding: 10px;
    width: 180px;
}
.nav-link:hover{
    color: white !important;
}
.section1 .icon{
    position: absolute;
    width: 200px;
    height: 60px;
    right: 10px;
    bottom: 10px;
}
.icon img{
    width: 100%;
    height: 100%;
}
@media(max-width: 768px){
    .kalam h1{
        font-size: 40px;
    }
    .icon{
        position: absolute;
        width: 150px;
        height: 60px;
        right: 10px;
        bottom: 10px;
    }
    .kalam{
        bottom: 9%;
    }
}
@media(max-width: 426px){
    .kalam h1{
        font-size: 24px;
    }
    .kalam{
        width: 64%;
        left: 20%;
    }
    .kalam p{
        font-size: 13px;
    }
    .section1 .icon{
        position: absolute;
        width: 78px;
        height: 31px;
        right: 10px;
        bottom: 10px;
    }
    .kalam{
        bottom: 1%;
    }
    .kalam button{
        border: none;
        padding: 5px;
        width: 130px;
    }
    .section1 .button {
        color: white;
        background-color: orangered;
        border-radius: 30px;
        padding: 7px;
        width: 100px;
    }
}
/* =====================sec2====================== */
.section2{
    width: 100%;
    height: auto;
    background-color: rgb(254, 227, 180);
    position: relative;
    padding-top: 50px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    padding-bottom: 50px;
}
.section2 .yemin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.section2 .yemin .width-45{
    width: 45% !important;
    /* height: 10% !important; */
}
.carousel-item{
height: 10% !important;
}
.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.se3r{
    color: orangered;
}
.section2 img:hover {
    transform: scale(1.2);
}
.section2 img{
    transition: all 1s;
    width: 100%;
    height: 50%;
}
.section2 .card{
    overflow: hidden !important;
    height: 270px;
   
}
.des{
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.dess{
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 40px; */
}
.media{
    width: 24% !important;
}
.mr-3{
    width: 60% !important;
    transition: all 1s;
}
.mr-3:hover{
background-color: white;
transform: scale(1.2);
}
/* ==================sec3=============== */
.section3{
    width: 100%;
    height: auto;
    background-color:#645f56; 
color: white;
padding-top: 59px;
}
.section3 .icon{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 10px;
    bottom: 0px;
}
.icon img{
    width: 100%;
    height: 100%;
}
.section3 ul{
    list-style-type: none;
    text-align: left;
}
.section3 ul li{
    text-align: left;
}
.section3 ul li a{
    text-decoration: none;
    color: rgb(170, 170, 170);
    padding: 10px;
transition: all 1s;
}
.section3 ul li a:hover{
    color: white;
}
.cop{
    text-align: center;
}